@model IEnumerable<VishanSabha.Models.NewVoters>

@{
    ViewBag.Title = "NewVotersReports";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var villageList = ViewData["VillageList"] as List<VishanSabha.Models.VillageList>;
    var casteList = ViewData["CasteList"] as List<VishanSabha.Models.SubCaste>;
    var BoothList = ViewData["BoothList"] as List<VishanSabha.Models.Booth>;
    var SectorList = ViewData["SectorList"] as List<VishanSabha.Models.Sector>;
}

<style>
    body {
        background-color: #fdfaf6;
        font-family: 'Poppins', sans-serif;
    }

    .table-head {
        background-color: #FF8C42;
    }

    .myhead {
        font-size: 12px;
        color: white;
        padding: 15px 10px;
    }

    .table-head th, #myTable td {
        text-align: left;
        vertical-align: middle;
        padding: 5px 8px;
        font-size: 11px;
    }

    #myTable img {
        width: 50px !important;
        height: auto;
    }

    .table-responsive {
        overflow-x: auto;
        white-space: nowrap;
        max-height: 80vh !important;
    }

    #myTable td,
    #myTable th {
        white-space: nowrap;
    }

    .btn-outline-orange {
        border-color: orange;
        color: orange;
        font-size: 12px;
        padding: 4px 10px;
    }

        .btn-outline-orange:hover {
            background-color: #FF8C42;
            color: white;
        }

    .btn-xs {
        padding: 1px 5px;
        font-size: 8px;
        line-height: 1.2;
        border-radius: 3px;
    }

    .edit-icon, .delete-icon {
        font-size: 14px;
    }

    .edit-icon {
        color: green;
    }

    .edit-btn:hover .edit-icon {
        color: white;
    }

    .delete-icon {
        color: red;
    }

    .delete-btn:hover .delete-icon {
        color: white;
    }

    .btn-sm {
        padding: 2px 6px;
        font-size: 12px;
    }

    .dataTables_length select {
        font-size: 12px !important;
        padding: 2px 5px !important;
        width: 54px !important;
        height: 28px !important;
    }

    .dataTables_filter input {
        font-size: 12px !important;
        padding: 3px 6px !important;
        width: 150px !important;
        height: 28px !important;
        border-radius: 4px;
    }

    div.dataTables_filter input[type="search"] {
        border: 1px solid #FF8C42 !important;
    }

    #myTable_paginate .paginate_button {
        font-size: 12px; /* font size chhota ya bada karne ke liye */
        margin-top: 10px;
        padding: 5px 10px; /* button ke andar ki padding */
        min-width: 40px; /* button ki minimum width */
        height: 30px; /* button ki height */
        border-radius: 5px; /* corners round karne ke liye */
        margin: 0 2px; /* buttons ke beech thodi gap */
        cursor: pointer;
        background-color: #FF8C42;
        color: black;
        border: none;
    }
</style>

<div class="container-fluid m-3 mt-5 w-100">
    <div class="d-flex justify-content-between mb-2">
        <h4 style="color: #FF8C42;">New Voters Reports</h4>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <select class="form-select form-select-sm shadow-sm !rounded-pill border-primary" multiple id="boothFilter">

                @if (BoothList != null && BoothList.Any())
                {
                    foreach (var data in BoothList)
                    {
                        <option value="@data.Booth_Id">@data.BoothNumber</option>
                    }
                }
            </select>
        </div>
        <div class="col-sm-2">
            <select class="form-select form-select-sm shadow-sm rounded-pill border-primary" multiple id="casteFilter">

                @if (casteList != null && casteList.Any())
                {
                    foreach (var data in casteList)
                    {
                        <option value="@data.SubCaste_Id">@data.SubCasteName</option>
                    }
                }
            </select>
        </div>
        <div class="col-sm-2">
            <select class="form-select form-select-sm shadow-sm rounded-pill border-primary" multiple id="villageFilter">

                @if (villageList != null && villageList.Any())
                {
                    foreach (var data in villageList)
                    {
                        <option value="@data.villageId">@data.Villagename</option>
                    }
                }
            </select>
        </div>
        <div class="col-sm-2">
            <select class="form-select form-select-sm shadow-sm !rounded-pill border-primary" multiple id="sectorFilter">

                @if (SectorList != null && SectorList.Any())
                {
                    foreach (var data in SectorList)
                    {
                        <option value="@data.Id">@data.SectorName</option>
                    }
                }
            </select>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-outline-secondary w-100 shadow-sm round-0" id="filterButton" title="Filters">
                <i class="bi bi-arrow-clockwise"></i> Filter
            </button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-outline-secondary w-100 shadow-sm round-0" id="resetFilters" title="Reset Filters">
                <i class="bi bi-arrow-clockwise"></i> Reset Filter
            </button>
        </div>
    </div>

    <div class="table-responsive shadow rounded p-2">
        <table id="myTable" class="table table-hover table-bordered align-middle dataTable-auto">
            <div class="d-flex flex-wrap gap-3 m-2 align-items-center">
                <a href="@Url.Action("NewVoteraExportReport", "Export", new { format = "excel" })"
                   class="btn btn-outline-success shadow-sm d-flex align-items-center gap-2">
                    <i class="bi bi-file-earmark-excel-fill"></i>
                    <span> Excel</span>
                </a>

                <a href="@Url.Action("NewVoteraExportReport", "Export", new { format = "pdf" })"
                   class="btn btn-outline-danger shadow-sm d-flex align-items-center gap-2">
                    <i class="bi bi-file-earmark-pdf-fill"></i>
                    <span> PDF</span>
                </a>
            </div>

            <thead class="table-head">
                <tr class="myhead">
                    <th class="text-white py-2">S.N.</th>
                    <th class="text-white py-2">Booth No</th>
                    @*<th class="text-white py-2">Booth Name</th>*@

                    <th class="text-white py-2">Booth Adhyaksh</th>
                    <th class="text-white py-2">Village</th>

                    <th class="text-white py-2">Voters Name</th>
                    <th class="text-white py-2">Father Name</th>
                    <th class="text-white py-2">Contact</th>
                    <th class="text-white py-2">Category</th>
                    <th class="text-white py-2">Caste</th>
                    <th class="text-white py-2">DOB</th>
                    <th class="text-white py-2">Age Till (1-Jan-2027)</th>
                    <th class="text-white py-2">Education</th>

                    <th class="text-white py-2">Sector</th>
                    <th class="text-white py-2">Sector Sanyojak</th>

                </tr>
            </thead>
            <tbody>
                @{
                    int srNo = 1;
                }
                @foreach (var voter in Model)
                {
                    <tr>
                        <td class="text-center">@srNo</td>
                        <td class="text-center">@voter.BoothNo</td>
                        @*<td class="text-center">@voter.PollingStationBoothName</td>*@
                        <td class="py-2 ">@voter.BoothIncharge</td>

                        <td>
                            @voter.Village
                            @*@foreach (var village in voter.VillageNames ?? new List<string>())
                            {
                                @village <br />
                            }*@
                        </td>

                        <td>@voter.VoterName</td>
                        <td>@voter.FatherName</td>
                        <td>@voter.MobileNumber</td>
                        <td>@voter.Category</td>
                        <td>@voter.caste</td>
                        <td>@voter.dateofbirth.ToString("dd-MM-yyyy")</td>
                        <td>@voter.totalage</td>
                        <td>@voter.Education</td>

                        <td class="py-2">@voter.SectorName</td>
                        <td class="py-2">@voter.SectorIncharge</td>


                    </tr>
                    srNo++;


                }

            </tbody>
        </table>
    </div>
</div>


<script src="~/Scripts/jquery-3.7.0.min.js"></script>

<!--Filter Script-->
<script>
    $(document).ready(function () {
        const urlParams = new URLSearchParams(window.location.search);

        // Split comma-separated values into arrays for multiple select
        const boothNo = urlParams.get('boothIds') ? urlParams.get('boothIds').split(',') : [];
        const casteId = urlParams.get('casteIds') ? urlParams.get('casteIds').split(',') : [];
        //const desgId = urlParams.get('desgIds') ? urlParams.get('desgIds').split(',') : [];
        //const occuId = urlParams.get('occuIds') ? urlParams.get('occuIds').split(',') : [];
        const villageId = urlParams.get('villageIds') ? urlParams.get('villageIds').split(',') : []
        const sectorId = urlParams.get('sectorIds') ? urlParams.get('sectorIds').split(',') : [];

        // Set values
        $('#boothFilter').val(boothNo).trigger('change');
        $('#casteFilter').val(casteId).trigger('change');
        $('#sectorFilter').val(sectorId).trigger('change');
        //$('#designationFilter').val(desgId).trigger('change');
        //$('#occupationFilter').val(occuId).trigger('change');
        $('#villageFilter').val(villageId).trigger('change');

        $('#boothFilter').select2({
            placeholder: "Select Booth No."
        });

        $('#casteFilter').select2({
            placeholder: "Select Caste"
        });
        $('#sectorFilter').select2({
            placeholder: "Select Sector"
        });
        //$('#designationFilter').select2({
        //    placeholder: "Select Designation"
        //});
        //$('#occupationFilter').select2({
        //    placeholder: "Select Occupation"
        //});
        $('#villageFilter').select2({
            placeholder: "Select Village"
        });
        $('#filterButton').on('click', function () {
            debugger
            var selectedBooth = $('#boothFilter').val();
            var selectedCaste = $('#casteFilter').val();
            var selectedSector = $('#sectorFilter').val();
            //var selectedDesg = $('#designationFilter').val();
            //var selectedOccu = $('#occupationFilter').val();
            var selectedVill = $('#villageFilter').val();
            // Check if both are empty
            if ((!selectedBooth || selectedBooth.length === 0) &&
                (!selectedCaste || selectedCaste.length === 0) &&
                (!selectedVill || selectedVill.length === 0) &&
                (!selectedSector || selectedSector.length === 0)
            ) {

                Swal.fire({
                    icon: 'warning',
                    title: 'No filter selected',
                    text: 'Please select at least one booth or caste or village or sector to filter data.',
                    confirmButtonText: 'OK'
                });

                return; // Stop further execution
            } else {

                const url = `${window.location.pathname}?boothIds=${selectedBooth}&casteIds=${selectedCaste}&villageIds=${selectedVill}&sectorIds=${selectedSector}`;
                window.location.href = url;
            }
        });

        $('#resetFilters').click(function () {
            $('#boothFilter').val('');
            $('#casteFilter').val('');
            $('#villageFilter').val('');
            $('#sectorFilter').val('');

            // Reload page with empty query string
            window.location.href = window.location.pathname;
        });
    })
</script>